/* Title */
.u-title {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .u-title h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--dark-text);
    margin: 1.5rem 0;
  }
  
  .u-title p {
    width: 50%;
    min-width: 40rem;
    margin: 0 auto;
    color: var(--dark-text);
  }
  /* TITLE */
  .u-title
  {
      text-align: center;
      margin-bottom: 4rem;
      margin-top:0;
  }
  .u-title h2 {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 1.4;
      text-transform: uppercase;
      color: var(--dark-text);
      margin: 1.5rem 0;
  }
  .u-title p {
      width: 50%;
      min-width: 40rem;
      margin: 0 auto;
  }